squidpy==1.6.1
scanpy==1.10.3
scikit-learn==1.6.1
scipy==1.13.1
pandas==2.3.2
numpy==1.26.4
matplotlib
seaborn
tqdm
charset-normalizer==3.4.3
stardist==0.9.1
pyro-ppl==1.9.1
opencv-python>=4.10
jupyter